<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Use { block title }Index{ endblock } to display "Index - Northwind Traders"-->
    <title>{% block title %}{% endblock %} - Northwind Traders</title>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--In case additional links need to be made for a child page-->
    {% block html_head %}{% endblock %}
  </head>

  <body>
    <nav>
      <div class="nav-wrapper green">
        <a href="/" class="brand-logo center"> Logo
          <!-- <img src="/logo.png" alt="Ethan Miller"> -->
        </a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="" class="dropdown-button" data-activates="dropdown1">Dopdown<i class="material-icons right">arrow_drop_down</i></a>
            <ul id="dropdown1" class="dropdown-content" style="width: 132px; position: absolute; top: 0px; left: 140.281px; opacity: 1; display: none;">
              <li><a href="#!">one</a></li>
              <li><a href="#!">two</a></li>
              <li class="divider"></li>
              <li><a href="#!">three</a></li>
            </ul></li>
          <li><a href="https://github.com/ethanmiller1/Northwind-Traders">Github</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      {% block content %}{% endblock %}
      
      <div id="footer">
        {% block footer %}
        <br>
        {{ footer }}
        {% endblock %}
      </div>
    </div>

    <!--JavaScript at end of body for optimized loading-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>

<!DOCTYPE html>