<!DOCTYPE html>
<html>
  <head>
    <!--Add favicon-->
    <link rel='shortcut icon' href='static/favicon.ico' type='image/x-icon'/ >
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!--Use { block title }Index{ endblock } to display "Index - Northwind Traders"-->
    <title>{% block title %}{% endblock %} - Northwind Traders</title>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--In case additional links need to be made for a child page-->
    {% block html_head %}{% endblock %}
  </head>

  <body>
  <!-- DROPDOWN -->
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="#!">Resume</a></li>
      <li><a href="https://www.linkedin.com/in/ethan-miller-649206188/">LinkedIn</a></li>
      <li class="divider"></li>
      <li><a href="https://ethanmiller1.github.io/">Portfolio</a></li>
    </ul>
    <nav>
      <div class="nav-wrapper green">
        <a href="/" class="brand-logo center">
          <img src="static/northwind.png" alt="Logo" height="50" style="vertical-align: middle; margin-bottom: 8px;">
           Northwind Traders
        </a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="" class="dropdown-button" data-activates="dropdown1">Dopdown<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a href="https://github.com/ethanmiller1/Northwind-Traders">Github</a></li>
        </ul>
      </div>
    </nav>

    <!-- MAIN CONTENT -->
    <div class="container">
      {% block content %}{% endblock %}
      
    <!-- FOOTER -->
      <div id="footer">
        {% block footer %}
        <br>
        {{ footer }}
        {% endblock %}
      </div>
    </div>

    <!--Import jQuery before materialize.js-->
    {% block scripts %}{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  </body>
</html>

<!DOCTYPE html>