{% extends "partials/base.html" %}
{% block title %}Products{% endblock %}

{% block content %}
<h1>Northwind Traders</h1>

<!-- LINKS COLLECTION -->
<ul class="collection">
  <li class="collection-item avatar" style="min-height: auto;">
    <i class="material-icons circle">airport_shuttle</i>
    <a href={{urls["suppliers"]}} class="collection-item">Suppliers</a>
  </li>
  <li class="collection-item avatar" style="min-height: auto;">
    <i class="material-icons circle green">shop_two</i>
    <a href={{urls["products"]}} class="collection-item">Products</a>
  </li>
  <li class="collection-item avatar" style="min-height: auto;">
    <i class="material-icons circle red">assignment</i>
    <a href={{urls["orders"]}} class="collection-item">Orders</a>
  </li>
</ul>
{% endblock %}