{% extends "partials/base.html" %}
{% block title %}Orders{% endblock %}

{% block html_head %}
  {% include "partials/data_table.html" %}
{% endblock %}

{% block content %}
  <h1>Northwind Traders</h1>

  <div id="orders">

    <table id="table_data" class="display">
      <thead>
        <tr>
            <th> Id </th>
            <th> Order Date </th> 
          </tr>
      </thead>
      <tbody>
        {% for order in orders %}
        <tr>
          <td><a href={{urls["index"]}}orders/{{order[0]}}>{{ order[0] }}</a></td>
          <td> {{ order[1] }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>

  <div id="orders">
  </div>
{% endblock %}