

<!DOCTYPE html>


<html>


<head>
  <title>Northwind</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
  
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

  <script>
    $(document).ready( function () {
       $('#table_orders').DataTable();
     } );
  </script>

</head>



<body>

  <h1>Northwind Traders</h1>

  <div id="orders">

    <table id="table_orders" class="display">
      <thead>
        <tr>
            <th> Id </th>
            <th> Order Date </th> 
          </tr>
      </thead>
      <tbody>
        {% for order in orders %}
        <tr>
          <td><a href={{urls["index"]}}orders/{{order[0]}}>{{ order[0] }}</a></td>
          <td> {{ order[1] }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>

  <div id="orders">
  </div>
  <br>
  <div id="footer">{{ footer }}
  </div>

</body>



</html>
