{% extends "partials/base.html" %}
{% block title %}Product Details{% endblock %}

{% block content %}
<h1>Northwind Traders</h1>

<div id="product">

  Id: {{ product[0] }}<br>
  Code: {{ product[1] }}<br>
  Name: {{ product[2] }}<br>
  Description: {{ product[3] }}<br>
  Standard Cost: {{ product[4] }}<br>
  List Price: {{ product[5] }}<br>
  Reorder Level: {{ product[6] }}<br>
  Target Level: {{ product[7] }}<br>
  Quantity Per Unit: {{ product[8] }}<br>
  Discountinued: {{ product[9] }}<br>
  Minimum Reorder Quantity: {{ product[10] }}<br>
  Category: {{ product[11] }}<br>
  Attachments: {{ product[12] }}<br>
</div>
{% endblock %}