{% extends "partials/base.html" %}
{% block title %}Products{% endblock %}

{% block html_head %}
  {% include "partials/data_table.html" %}
{% endblock %}

{% block content %}
  <h1>Northwind Traders</h1>

  <div id="products">
    <table id="table_data" class="display">
      <thead>
        <tr>
          <th> Id </th>
          <th> Code </th> 
          <th> Name </th>
          <th> Description </th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
          <tr>
            <td><a href={{urls["index"]}}products/{{product[0]}}>{{ product[0] }}</a></td>
            <td> {{ product[1] }} </td>
            <td> {{ product[2] }} </td>
            <td> {{ product[3] }} </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}