

<!DOCTYPE html>


<html>


<head>
  <title>Northwind</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

  <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
  
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

  <script>
    $(document).ready( function () {
 //       $('#table_products').DataTable();
     } );
  </script>


</head>



<body>

  <h1>Northwind Traders</h1>

  <div id="products">

   <table id="table_products" class="display">
        <thead>
          <tr>
            <th> Id </th>
            <th> Code </th> 
            <th> Name </th>
            <th> Description </th>
          </tr>
        </thead>
        <tbody>
          {% for product in products %}
          <tr>
            <td><a href={{urls["index"]}}products/{{product[0]}}>{{ product[0] }}</a></td>
            <td> {{ product[1] }} </td>
            <td> {{ product[2] }} </td>
            <td> {{ product[3] }} </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>


  </div>
  <br>
  <div id="footer">{{ footer }}
  </div>

</body>



</html>
