{% extends "partials/base.html" %}
{% block title %}Products{% endblock %}

{% block html_head %}
  {% include "partials/data_table.html" %}
{% endblock %}

{% block content %}
  <h1>Northwind Traders</h1>
  <div id="supplier">
    <table id="table_data" class="display">
      <thead>
        <tr>
          <th> Id </th>
          <th> Company </th> 
          <th> First Name </th>
          <th> Last Name </th>
          </tr>
      </thead>
      <tbody>
        {% for supplier in suppliers %}
        <tr>
          <td><a href={{urls["index"]}}suppliers/{{supplier[0]}}>{{ supplier[0] }}</a></td>
          <td> {{ supplier[1] }} </td>
          <td> {{ supplier[2] }} </td>
          <td> {{ supplier[3] }} </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}