

<!DOCTYPE html>


<html>


<head>
  <title>Northwind</title>


</head>



<body>

  <h1>Northwind Traders</h1>

  <div id="supplier">

    <table>
      <tr>
        <th> Id </th>
        <th> Company </th> 
        <th> First Name </th>
        <th> Last Name </th>
      </tr>
      {% for supplier in suppliers %}
      <tr>
        <td><a href={{urls["index"]}}suppliers/{{supplier[0]}}>{{ supplier[0] }}</a></td>
        <td> {{ supplier[1] }} </td>
        <td> {{ supplier[2] }} </td>
        <td> {{ supplier[3] }} </td>
      </tr>
      {% endfor %}
    </table>
  <br>
  </div>

  <div id="orders">
  </div>
  <br>
  <div id="footer">{{ footer }}
  </div>

</body>



</html>
